/* line 25, /Users/brenothales/rails_apps/sales/app/assets/stylesheets/login.scss */
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}

/* line 31, /Users/brenothales/rails_apps/sales/app/assets/stylesheets/login.scss */
input#user_remember_me {
  width: 4%;
  float: left;
}

/* line 37, /Users/brenothales/rails_apps/sales/app/assets/stylesheets/login.scss */
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

/* line 42, /Users/brenothales/rails_apps/sales/app/assets/stylesheets/login.scss */
.new_user {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  margin-top: 50px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
/* line 51, /Users/brenothales/rails_apps/sales/app/assets/stylesheets/login.scss */
.new_user label {
  float: left;
  margin-left: 10px;
  color: #757580;
  font-size: 14px;
}
/* line 59, /Users/brenothales/rails_apps/sales/app/assets/stylesheets/login.scss */
.new_user input {
  font-family: Roboto, sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
/* line 70, /Users/brenothales/rails_apps/sales/app/assets/stylesheets/login.scss */
.new_user input #user_remember_me {
  width: 4%;
  float: left;
}
/* line 76, /Users/brenothales/rails_apps/sales/app/assets/stylesheets/login.scss */
.new_user button {
  font-family: Roboto, sans-serif;
  text-transnew_user: uppercase;
  outline: 0;
  background: #4caf50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  transition: all 0.3 ease;
  cursor: pointer;
}
/* line 89, /Users/brenothales/rails_apps/sales/app/assets/stylesheets/login.scss */
.new_user button:hover {
  background: #4caf50;
}
/* line 92, /Users/brenothales/rails_apps/sales/app/assets/stylesheets/login.scss */
.new_user button:active {
  background: #4caf50;
}
/* line 95, /Users/brenothales/rails_apps/sales/app/assets/stylesheets/login.scss */
.new_user button:focus {
  background: #4caf50;
}
/* line 99, /Users/brenothales/rails_apps/sales/app/assets/stylesheets/login.scss */
.new_user .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
/* line 103, /Users/brenothales/rails_apps/sales/app/assets/stylesheets/login.scss */
.new_user .message a {
  color: #4caf50;
  text-decoration: none;
}
/* line 108, /Users/brenothales/rails_apps/sales/app/assets/stylesheets/login.scss */
.new_user .register-new_user {
  display: none;
}

/* line 112, /Users/brenothales/rails_apps/sales/app/assets/stylesheets/login.scss */
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
/* line 123, /Users/brenothales/rails_apps/sales/app/assets/stylesheets/login.scss */
.container .info {
  margin: 50px auto;
  text-align: center;
}
/* line 126, /Users/brenothales/rails_apps/sales/app/assets/stylesheets/login.scss */
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
/* line 133, /Users/brenothales/rails_apps/sales/app/assets/stylesheets/login.scss */
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
/* line 136, /Users/brenothales/rails_apps/sales/app/assets/stylesheets/login.scss */
.container .info span a {
  color: #000000;
  text-decoration: none;
}
/* line 140, /Users/brenothales/rails_apps/sales/app/assets/stylesheets/login.scss */
.container .info span .fa {
  color: #ef3b3a;
}

/* line 146, /Users/brenothales/rails_apps/sales/app/assets/stylesheets/login.scss */
body {
  background: #76b852;
  background: linear-gradient(to left, #76b852, #8dc26f);
  font-family: Roboto, sans-serif;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

