//colors
$white: #ffffff;
$black_20: rgba(0, 0, 0, 0.2);
$black_24: rgba(0, 0, 0, 0.24);
$concrete: #f2f2f2;
$color_apple_approx: #4caf50;
$color_nobel_approx: #b3b3b3;
$color_rangoon_green_approx: #1a1a1a;
$color_emperor_approx: #4d4d4d;
$black: #000000;
$color_cinnabar_approx: #ef3b3a;
$color_mantis_approx: #76b852;
$color_olivine_approx: #8dc26f;

//fonts
$font_0: Roboto;
$font_1: sans-serif;

//urls


//@extend-elements
//original selectors
//.container:before, .container:after
%extend_1 {
	content: "";
	display: block;
	clear: both;
}

input#user_remember_me {
    width: 4%;
    float: left;
}


.login-page {
	width: 360px;
	padding: 8% 0 0;
	margin: auto;
}
.new_user {
	position: relative;
	z-index: 1;
	background: $white;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
  margin-top: 50px;
  label {
    float: left;
    margin-left: 10px;
    color: #757580;
    font-size: 14px;
}
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 0 20px 0 $black_20, 0 5px 5px 0 $black_24;
	input {
		font-family: $font_0, $font_1;
		outline: 0;
		background: $concrete;
		width: 100%;
		border: 0;
		margin: 0 0 15px;
		padding: 15px;
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
		font-size: 14px;
    #user_remember_me {
    width: 4%;
    float: left;
}

	}
	button {
		font-family: $font_0, $font_1;
		text-transnew_user: uppercase;
		outline: 0;
		background: $color_apple_approx;
		width: 100%;
		border: 0;
		padding: 15px;
		color: $white;
		font-size: 14px;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.3 ease;
		cursor: pointer;
		&:hover {
			background: $color_apple_approx;
		}
		&:active {
			background: $color_apple_approx;
		}
		&:focus {
			background: $color_apple_approx;
		}
	}
	.message {
		margin: 15px 0 0;
		color: $color_nobel_approx;
		font-size: 12px;
		a {
			color: $color_apple_approx;
			text-decoration: none;
		}
	}
	.register-new_user {
		display: none;
	}
}
.container {
	position: relative;
	z-index: 1;
	max-width: 300px;
	margin: 0 auto;
	&:before {
		@extend %extend_1;
	}
	&:after {
		@extend %extend_1;
	}
	.info {
		margin: 50px auto;
		text-align: center;
		h1 {
			margin: 0 0 15px;
			padding: 0;
			font-size: 36px;
			font-weight: 300;
			color: $color_rangoon_green_approx;
		}
		span {
			color: $color_emperor_approx;
			font-size: 12px;
			a {
				color: $black;
				text-decoration: none;
			}
			.fa {
				color: $color_cinnabar_approx;
			}
		}
	}
}
body {
	background: $color_mantis_approx;
	background: linear-gradient(to left, $color_mantis_approx, $color_olivine_approx);
	font-family: $font_0, $font_1;
}